@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  font-family: "Fredoka One", cursive;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: skyblue;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
